.logo-nav {
  height: 2.5rem;
  width: 6rem;
}

.wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.hr {
  width: 50%;
  border-color: #0d47a1;
}

.text-spacev {
  line-height: 30px;
}

.nosotros {

}

.gris {
  background-color: #eeeeee;
}

.m-h {
  min-height: 172px !important;
}

footer.page-footer {
    margin-top: 0 !important;
}
